body {
  display: flex;
  justify-content: center;
}

header {
  align-items: center;
  width: 100%;
}

input {
  padding: 10px;
  width: 300px;
}

section {
  flex: 1; /* 같은 너비 배분 */
  text-align: center;
  text-decoration: underline; /* 아래 밑줄 */
}

.sections {
  display: flex;
  flex-direction: row; /* 가로 배치 */
  gap: 20px;
}
